<!DOCTYPE html>
<html>
	<head>
		<title>Dashboard</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
		<style >
			body
			{
				font-family: 'Open Sans';
			}
		</style>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
		
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container">
				<a class="navbar-brand" href="#" >NetWorth</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="/dashboard/">Dash-Board <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/expense/">Expenses</a>
						</li>
						
					</ul>
					<form class="form-inline my-2 my-lg-0">
						
						<button class="btn btn-secondary " type="submit">Logout</button>
					</form>
				</div>
			</div>
		</nav>
		<br><br>
		<div class="container">
			<canvas id="myChart" width="400" height="400px" style="max-height: 400px; max-width: 400px"></canvas>
			<canvas id="BarChart" width="400" height="400px" style="max-height: 400px; max-width: 400px"></canvas>
			
		</div>
		
		
		<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
		<script
		src="https://code.jquery.com/jquery-3.4.0.min.js"
		integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
		crossorigin="anonymous"></script>
		<script type="text/javascript" src="/static/dashboard.js"></script>
	</body>
</html>